language: java
install: skip
os: linux
dist: trusty
jdk: oraclejdk8

env:
  global:
    - CODECOV_TOKEN=ad9b7de1-7472-44d3-8017-d298fce9b3aa

before_script:
  - chmod +x gradlew
script:
  - ./gradlew check
after_success:
  - bash <(curl -s https://codecov.io/bash)